extends layout

block content

    //TODO: RequireJS required:)
    script(src='/plugins/underscore.js')
    script(src='/plugins/jquery-3.1.1.js')
    script(src='http://localhost:3333/socket.io/socket.io.js')
    script(src='/javascripts/client_dmvc.js')
    script(src='/javascripts/main_content.js')

    h1= title
    p Welcome to #{title}

    form.on_submit(action="#")
        label New Task:
            input#add_task(type="text", name="task")
        input(type="submit")
        ul#tasks_block
