extends layout

block content

    //RequireJS required:)
    script(src='/plugins/underscore.js')
    script(src='/plugins/jquery-3.1.1.js')
    script(src='/plugins/backbone.js')
    //script(src='http://localhost:3333/socket.io/socket.io.js')
    script(src='/javascripts/main_content.js')

    h1= title
    p Welcome to #{title}

    form#app_form(action="#")
        label New Task:
            input#add_task(type="text")
        input(type="submit")
        ul#tasks_block
