doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/plugins/underscore.js')
    script(src='/plugins/jquery-3.1.1.js')
    //script(src='http://localhost:3333/socket.io/socket.io.js')
    script(src='/javascripts/client_dmvc.js')
    script(src='/javascripts/main_content.js')
  body
    block content
